<%- include('master', { 
    title: title,
    body: `<h1> order paket </h1> 
    <p>....</p>
    `
    }) 
%>
<% formulirpesanan.forEach(element => { %>
    <li>
        <%= paket.namapesanan%> :<%= paket.email%> :<%= paket.noHp%> :<%= paket.tglpesanan%>
    </li>
    <%
})
%>
